<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %} {% endblock title %}</title>
    <style>
      body {
        font-family: Arial, Helvetica, sans-serif;
      }
    </style>
  </head>
  <body>
    <nav>
      <a href="/{{current_user.type}}/home">Home</a>
      <a href="/{{current_user.type}}/search">Search</a>
      <a href="/{{current_user.type}}/summary">Summary</a>
      <a href="/logout">Logout</a>
    </nav>

    <main>{% block content %} {% endblock content %}</main>
  </body>
</html>
