{% extends "_base.html" %}

{% import "_tables.html" as tables with context %}

{% block title %}
  Home
{% endblock title %}

{% block content %}
  <h1>Details of Service #{{ service.id }}</h1>

  <section>
    <h2>Service Details</h2>
    <p>
      <strong>Name</strong>: {{ service.name }}
    </p>
    <p>
      <strong>Category</strong>: {{ service.service_category.name }}
    </p>
    <p>
      <strong>Price</strong>: {{ service.price }}
    </p>
  </section>

  <section>
    <h2>Service Requests</h2>
    {{ tables.service_requests_table(service.service_requests) }}
  </section>
{% endblock content %}
