<!-- -->
{% extends "_base.html" %}

<!-- -->
{% import "_tables.html" as tables %}

<!-- -->
{% block title %} Home {% endblock title %}

<!-- -->
{% block content %}
<h1>Details of Professional #{{professional.id}}</h1>
<h2>Ratings: {{get_avg_ratings(professional)}}</h2>

<section>
  <h2>Personal Details</h2>
  <p>Name: {{professional.user.full_name}}</p>
  <p>Email: {{professional.user.email}}</p>
  <p>Address: {{professional.user.address}}</p>
  <p>Pin Code: {{professional.user.pin_code}}</p>
  <p>City: {{professional.user.city.name}}</p>
  <p>Bio: {{professional.bio}}</p>
  <p>Service Category: {{professional.service_category.name}}</p>
</section>

<section>
  <h2>Service Requests</h2>
  {{ tables.service_requests_table(professional.service_requests) }}
</section>
{% endblock content %}
