{% extends "_base.html" %}

<!-- -->
{% block title %} Search {% endblock title %}

<!-- -->
{% block content %}
<style>
  form {
    width: 400px;
    padding: 20px;
    border: 2px solid #333;
    border-radius: 10px;
  }

  form div {
    margin-bottom: 10px;
  }

  section {
    margin-top: 50px;
    display: flex;
    gap: 10px;
    justify-content: space-evenly;
  }
</style>

<h1>Welcome to search page</h1>

<section>
  <form action="/admin/search-results/professionals">
    <h2>Search Professionals</h2>
    <div>
      <label>
        By Name:
        <input type="text" name="full_name" class="form-control" />
      </label>
    </div>
    <div>
      <label>
        By Pin Code:
        <input type="text" name="pin_code" class="form-control" />
      </label>
    </div>
    <input type="submit" value="Search" class="btn btn-primary w-100" />
  </form>

  <form action="/admin/search-results/customers">
    <h2>Search Customers</h2>
    <div>
      <label>
        By Name:
        <input type="text" name="full_name" class="form-control" />
      </label>
    </div>
    <div>
      <label>
        By Pin Code:
        <input type="text" name="pin_code" class="form-control" />
      </label>
    </div>
    <input type="submit" value="Search" class="btn btn-primary w-100" />
  </form>
</section>
{% endblock content %}
