{% extends "_base.html" %}

{% block title %}
  Edit Service
{% endblock title %}

{% block content %}
  <h1>Edit Service</h1>

  <form action="/admin/edit-service/{{ service.id }}" method="post">
    <div>
      <label>
        Name:
        <input class='form-control'
               type="text"
               name="name"
               value="{{ service.name }}" />
      </label>
    </div>

    <div>
      <label>
        Price:
        <input class='form-control'
               type="text"
               name="price"
               value="{{ service.price }}" />
      </label>
    </div>

    <div>
      <label>
        Category:
        <select name="service_category_id" class='form-control'>
          {% for category in service_categories %}

            {% if category.id==service.service_category_id %}
              <option value="{{ category.id }}" selected>{{ category.name }}</option>
            {% else %}
              <option value="{{ category.id }}">{{ category.name }}</option>
            {% endif %}

          {% endfor %}
        </select>
      </label>
    </div>

    <div>
      <input class='btn btn-primary w-100' type="submit" value="Edit Service" />
    </div>
  </form>
{% endblock content %}
