<!-- -->
{% extends "_base.html" %}

<!-- -->
{% import "_tables.html" as tables %}

<!-- -->
{% block title %} Home {% endblock title %}

<!-- -->
{% block content %}
<h1>Details of Service #{{service.id}}</h1>

<section>
  <h2>Service Details</h2>
  <p>Name: {{service.name}}</p>
  <p>Category: {{service.service_category.name}}</p>
  <p>Price: {{service.price}}</p>
</section>

<section>
  <h2>Service Requests</h2>
  {{ tables.service_requests_table(service.service_requests) }}
</section>
{% endblock content %}
