{% extends "_base.html" %}

<!-- -->
{% block title %} Summary {% endblock title %}

<!-- -->
{% block content %}
<h1>Welcome to summary page</h1>
<ul>
  <li>1 Stars: {{(stars.1 / total_stars * 100) | round(2)}}%</li>
  <li>2 Stars: {{(stars.2 / total_stars * 100) | round(2)}}%</li>
  <li>3 Stars: {{(stars.3 / total_stars * 100) | round(2)}}%</li>
  <li>4 Stars: {{(stars.4 / total_stars * 100) | round(2)}}%</li>
  <li>5 Stars: {{(stars.5 / total_stars * 100) | round(2)}}%</li>
</ul>
<h2>Overall Customer ratings</h2>
<img src="" alt="Overall Customer ratings" />

<h2>Service Request Summary</h2>
<img src="" alt="Service Request Summary" />
{% endblock content %}
