{% extends "_base.html" %}

{% block title %}
  Add Service
{% endblock title %}

{% block content %}
  <h1>Add Service</h1>

  <form action="/admin/add-service" method="post">
    <div>
      <label>
        Name:
        <input type="text" name="name"  class='form-control' />
      </label>
    </div>

    <div>
      <label>
        Price:
        <input type="text" name="price"  class='form-control' />
      </label>
    </div>

    <div>
      <label>
        Category:
        <select name="service_category_id" class='form-control'>
          {% for category in service_categories %}
            <option value="{{ category.id }}">{{ category.name }}</option>
          {% endfor %}
        </select>
      </label>
    </div>

    <div>
      <input type="submit" value="Add Service" class='btn btn-primary w-100' />
    </div>
  </form>
{% endblock content %}
