{% extends "_base.html" %}

<!-- -->
{% block title %}
  Search
{% endblock title %}

<!-- -->
{% block content %}
  <h1>Welcome to search page</h1>

  <section>
    <form action="/customer/search-results/services">
      <h2>Search Services</h2>
      <div>
        <label>
          By Name:
          <input type="text" name="name" class="form-control" />
        </label>
      </div>
      <input type="submit" value="Search" class="btn btn-primary w-100" />
    </form>
  </section>
{% endblock content %}
