{% extends "_base.html" %}

{% block title %}
  Close Request
{% endblock title %}

{% block content %}
  <h1>Close Request</h1>

  <form action="/customer/close-request/{{ request_id }}" method="post">
    <div>
      <label>Rate your experience</label>
      <br />
      <label>
        <input type="radio" name="stars" value="5" />
        ⭐⭐⭐⭐⭐
      </label>
      <br />
      <label>
        <input type="radio" name="stars" value="4" />
        ⭐⭐⭐⭐
      </label>
      <br />
      <label>
        <input type="radio" name="stars" value="3" />
        ⭐⭐⭐
      </label>
      <br />
      <label>
        <input type="radio" name="stars" value="2" />
        ⭐⭐
      </label>
      <br />
      <label>
        <input type="radio" name="stars" value="1" />
        ⭐
      </label>
    </div>

    <div>
      <label>
        Remarks:
        <input class='form-control' type="text" name="remarks" />
      </label>
    </div>

    <div>
      <input class='btn btn-primary w-100' type="submit" value="Close Request" />
    </div>
  </form>

{% endblock content %}
