{% extends "_base.html" %}

{% block title %}
  Edit profile
{% endblock title %}

{% block content %}
  <h1>Edit Profile</h1>

  <form action="/customer/edit-profile" method="post">
    <div>
      <label>
        Email:
        <input type="email"
               name="email"
               value="{{ customer.user.email }}"
               class="form-control" />
      </label>
    </div>

    <div>
      <label>
        Password:
        <input type="password" name="password" class="form-control" />
      </label>
    </div>

    <div>
      <label>
        Full name:
        <input type="text"
               name="full_name"
               value="{{ customer.user.full_name }}"
               class="form-control" />
      </label>
    </div>

    <div>
      <label>
        City:
        <select name="city_id" class="form-control">
          {% for city in cities %}

            {% if city.id == current_user.city_id %}
              <option value="{{ city.id }}" selected>{{ city.name }}</option>
            {% else %}
              <option value="{{ city.id }}">{{ city.name }}</option>
            {% endif %}

          {% endfor %}
        </select>
      </label>
    </div>

    <div>
      <label>
        Address:
        <input type="text"
               name="address"
               value="{{ customer.user.address }}"
               class="form-control" />
      </label>
    </div>

    <div>
      <label>
        Pin code:
        <input type="text"
               name="pin_code"
               value="{{ customer.user.pin_code }}"
               class="form-control" />
      </label>
    </div>

    <div>
      <input type="submit"
             value="Save"
             class="btn btn-primary w-100"
             class="form-control" />
    </div>
  </form>
{% endblock content %}
