{% extends "_base.html" %}

<!-- -->
{% block title %}
  Book Service
{% endblock title %}

<!-- -->
{% block content %}
  <h1>Book Service</h1>

  <form action="/customer/book-service/{{ service_id }}" method="post">
    <div>
      <label>
        Description:
        <input type="text" name="description"class="form-control" />
      </label>
    </div>

    <div>
      <label>
        Booking Date:
        <input type="date" name="booking_date" required class="form-control" />
      </label>
    </div>

    <div>
      <input type="submit" value="Book Service" class="btn btn-primary w-100" />
    </div>
  </form>

{% endblock content %}
