<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit Profile</title>
    <style>
      body {
        font-family: Arial, Helvetica, sans-serif;
        display: flex;
        justify-content: center;
      }

      h1 {
        text-align: center;
      }

      p {
        text-align: center;
        color: red;
      }

      form {
        padding: 20px;
        border: 2px solid #333;
        border-radius: 10px;
      }

      div {
        margin-bottom: 10px;
      }
    </style>
  </head>
  <body>
    <main>
      <h1>Edit Profile</h1>

      <form action="/professional/edit-profile" method="post">
        <div>
          <label>
            Email:
            <input type="email" name="email" value="{{professional.user.email}}" />
          </label>
        </div>

        <div>
          <label>
            Password:
            <input type="password" name="password" />
          </label>
        </div>

        <div>
          <label>
            Full name:
            <input type="text" name="full_name" value="{{professional.user.full_name}}" />
          </label>
        </div>

        <div>
          <label>
            City:
            <select name="city_id">
              {% for city in cities %} {% if city.id == current_user.city_id %}
              <option value="{{city.id}}" selected>{{city.name}}</option>
              {% else %}
              <option value="{{city.id}}">{{city.name}}</option>
              {% endif %} {% endfor %}
            </select>
          </label>
        </div>

        <div>
          <label>
            Address:
            <input type="text" name="address" value="{{professional.user.address}}" />
          </label>
        </div>

        <div>
          <label>
            Pin code:
            <input type="text" name="pin_code" value="{{professional.user.pin_code}}" />
          </label>
        </div>

        <div>
          <label>
            Service category:
            <select name="service_category_id">
              {% for service_category in service_categories %} {% if service_category.id ==
              current_user.professional.service_category_id %}
              <option value="{{service_category.id}}" selected>{{service_category.name}}</option>
              {% else %}
              <option value="{{service_category.id}}">{{service_category.name}}</option>

              {% endif %} {% endfor %}
            </select>
          </label>
        </div>

        <div>
          <label>
            Bio:
            <input type="text" name="bio" value="{{professional.bio}}" />
          </label>
        </div>

        <div>
          <label>
            Resume:
            <input type="file" name="resume" />
          </label>
        </div>

        <div>
          <input type="submit" value="Save" />
        </div>
      </form>
    </main>
  </body>
</html>
