<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register</title>
    <style>
      body {
        font-family: Arial, Helvetica, sans-serif;
        display: flex;
        justify-content: center;
      }

      h1 {
        text-align: center;
      }

      p {
        text-align: center;
        color: red;
      }

      form {
        padding: 20px;
        border: 2px solid #333;
        border-radius: 10px;
      }

      div {
        margin-bottom: 10px;
      }
    </style>
  </head>
  <body>
    <main>
      <h1>Register</h1>

      <form action="/register" method="post">
        <div>
          <label>
            Email:
            <input type="email" name="email" />
          </label>
        </div>

        <div>
          <label>
            Password:
            <input type="password" name="password" />
          </label>
        </div>

        <div>
          <label>
            Full name:
            <input type="text" name="full_name" />
          </label>
        </div>

        <div>
          <label>
            City:
            <select name="city_id">
              <option value="1">hbh</option>
              <option value="2">albd</option>
            </select>
          </label>
        </div>

        <div>
          <label>
            Address:
            <input type="text" name="address" />
          </label>
        </div>

        <div>
          <label>
            Pin code:
            <input type="text" name="pin_code" />
          </label>
        </div>

        <div>
          <input type="submit" value="Register" />
        </div>

        <a href="/register/professional">Register as a Professional</a>
      </form>
    </main>
  </body>
</html>
